* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*html {
  background: url("http://www.flowersinspace.com/img/red-and-black-wallpaper/_fullsize/smart-red-abstract-wallpaper-x-full-hd-red-black-wallpaper-and-download-black_red-and-black-wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}*/

body{
  padding-bottom: 160px;
  background-color: #2b2525;
}

h2{
  color: white;
  font-size: 50px;
}

h3{
  color: white;
  font-size: 30px;
}

h4{
  color: white;
}

.loggedIn{
  color: white;
}

.navBar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 34.5px;
  background-color: #d60000;
  border-bottom: 1px solid black;
}

.navBar2{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d60000;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.logo h1 {
  position: relative;
  top: -6px;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.logo2 h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.topNav{
  position: absolute;
  right: 10px;
  top: 10px;
}

.navLinks{
  font-size: 25px;
  padding-right: 20px;
}

.postButton{
  position: relative;
  font-size: 20px;
  font-weight: normal;
  top: 6px;
}

.backButton{
  position: relative;
  font-size: 20px;
  font-weight: normal;
  top: 65px;
  left: 8px;

}

.reviewOverview{
  margin-top: 175px;
  text-align: center;
}

.reviewOverviewTwo{
  margin-top: 175px;
  text-align: center;
}

.flex-container{
  width: 100%;
  height: 100%;
  max-width: 1350px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 650px;
  min-height: 200px;
  max-height: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d60000;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  border: 1px solid black;
}

.reviewBox{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 800px;
  max-height: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d60000;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  border: 1px solid black;
}

.flex-containerReview{
  width: 100%;
  height: 100%;
  max-width: 1350px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-container2{
  width: 100%;
  height: 100%;
  max-width: 1350px;
/*  margin-bottom: 90px;*/
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 650px;
  min-height: 150px;
  max-height: 100%;
/*  margin-bottom: 10px;
  padding-bottom: 20px;*/
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d60000;
  border-radius: 20px;
  font-size: 15px;
}

.hidden{
  display: none;
}

.modalParent{
  text-align: center;
  width: 100%;
  height: 100%;
}


.modal-wrapper {
  display: none;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.modal-wrapper.is-open {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #d60000;
  overflow-y:scroll;

}

.modal-body {
  animation: pop 0.5s ease;
  width: 100%;
}

header {
  position: relative;
}


@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  
  90% {
    transform: scale(1.02);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.reviewArea{
  margin-top: 20px;
}


#postScore{
  width: 199px;
}

.gamePicture{
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

.gameImage2{
  height: 100px;
  width: 100px;
}

.footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d60000;
    color: white;
    text-align: center;
    height: 160px;
}

.scorePicture{
  width: 150px;
  height: 150px;
}

.scoreImage2{
  width: 100px;
  height: 100px;
}




.mainheader{
  color: white;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
}

.loginDiv{
  font-size: 20px;
  margin-top: 50%;
  text-align: center;
}

.loginForm{
  margin-top: 20px;
}

.indexButton{
  margin-top: 5px;
}

.loginflexContainer{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #ff3503;*/
}

.score{
  font-size: 50px;
}